#blog-listing {
    .blog-filter {
        margin-top: 40px;
        margin-bottom: 40px;
        @include breakpoint (desktop) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @include media-breakpoint-only(lg) {
            margin-top: 0px;
            margin-bottom: 20px;
        }
        @include media-breakpoint-only(md) {
            margin-top: 0;
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
           margin-top: 0;
           margin-bottom: 20px;
        }
        ul {
            padding:0;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                padding: 5px 10px;
                &:first-of-type {
                    padding-left: 0;
                }
                a {
                    font-family: $crims-bold;
                    text-transform: uppercase;
                    font-size: 11px;
                    letter-spacing: 1.1px;
                    color: $brown;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
    .blog-item {border-bottom: 1px solid #c5c0bc;
        padding-top: 30px;
        padding-bottom: 30px;
        @include media-breakpoint-down(sm) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .blog-photo {
            overflow: hidden;
            @include media-breakpoint-down(sm) {
                margin-bottom: 30px;
            }
            a {
                img {
                    @include animate-fade;
                    display: block;
                    margin-bottom: 0;
                    object-fit: cover;
                    height: 440px;
                    @include media-breakpoint-down(md) {
                        height: 300px;
                    }
                }
                &:hover {
                    img {
                        -webkit-filter: blur(3px);
                        filter: blur(3px);
                    }
                }
            }
        }
        .blog-content {
            padding-bottom: 30px;
            padding-top: 30px;
            padding-right: 100px;
            @include media-breakpoint-down(md) {
                padding-right: 0px;
            }
            h2 {
                @include subheading-font2;
                font-size: 1.75em;
                margin-top: 0;
                margin-bottom: 15px;
                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: $orange;
                    }
                }
            }
            p {
                color: #222222;
                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: $orange;
                    }
                }
                strong {
                    font-family: $open-bold;
                }
            }
            span.date {
                display: block;
                color: #222222;
                font-size: 11.34px;
                font-family: $open-reg;
                a {
                    color: #222222;
                    font-family: $open-bold;
                    font-size: 13px;
                    &:hover {
                        color:$orange;
                    } 
                }
            }
            ul {
                @include list-style;
                margin-bottom: 30px;
                li {
                    color: #222222;
                    strong {
                        font-family: $open-bold;
                    }
                    a {
                        color: inherit;
                        text-decoration: none;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
    .custom-pager {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 20px;
        @include breakpoint (desktop) {
            margin-top: 50px;
        }
        @include media-breakpoint-only(lg) {
            margin-top: 40px;
            margin-bottom: 0;
        }
        @include media-breakpoint-only(md) {
            margin-top: 30px;
            margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 20px;
            margin-bottom: 0;
        }
        .wp-pagenavi {
            font-size: 0;
            padding: 0 10px;
            span.pages {
                display: none;
            }
                a {
                    background-color: transparent;
                    font-size: 14px;
                    color: #222;
                    padding: 5px 8px;
                    line-height: 1.5;
                    &:hover {
                        color: $orange;
                        border-color:$orange;
                        font-family: $open-bold;
                    }
                }
                span {
                    color:$black;
                    &.current {
                        font-size: 14px;
                        color: #fff;
                        background:$orange;
                        padding: 5px 8px;
                        line-height: 1.5;
                        font-family: $open-bold;
                        border-color:$orange;
                    }
                    &.dots {
                        font-size: 1em;
                        line-height: 2;
                        background: 0 0;
                        color: #222;
                    }
                }
        }
    }
}
#blog-single {
    .blog-headline {
        margin-bottom: 30px;
        max-width: 612px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        .blog-meta {
            margin-bottom: 20px;
            span {
                color: rgba(#333,.6);
                font-family: $open-bold;
                font-size: 0.688em;
                text-transform: uppercase;
                letter-spacing: .09em;
                display: inline-block;
                vertical-align: middle;
                &:first-of-type {
                    padding-right: 12px;
                }
                a {
                    color: inherit;
                    &:hover {
                        color: $orange;
                    }
                }
            }
            span+span:before {
                content: '|';
                padding-right: 15px;
                position: relative;
                bottom: 2px;
            }
        }
        h1 {
            text-align: center;
            font-family: $crims-bold;
            font-size: 2.625em;
            letter-spacing: -.01em;
            line-height: 1.2;
            color: $brown;
            margin-bottom: 55px;
            @include breakpoint (desktop) {
                font-size: 2.5em;
                margin-bottom: 45px;
            }
            @include media-breakpoint-only(lg) {
                font-size: 2.3em;
                margin-bottom: 35px;
            }
            @include media-breakpoint-only(md) {
                font-size: 2.1em;
                margin-bottom: 30px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 1.9em;
                margin-bottom: 30px;
            }
        }
    }
    .featured-photo {
        margin-bottom: 60px;
        @include breakpoint (desktop) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-only(lg) {
           margin-bottom: 40px;

        }
        @include media-breakpoint-only(md) {
            margin-bottom: 30px;

        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
    .image__caption {
        background: #fff;
        padding: 10px;
        font-size: 12px;
        font-family: $open-italic;
        text-align: center;
        color: #222222;
    }
    // content intro
    .blog-intro {
        p {
            font-size: 1.15em;
            color:$black;
        }
    }
    // video
    .blog-video {
        iframe {
            margin:0px auto;
            width: 100%;
            display: block;
            height: 380px;
            @include media-breakpoint-down(sm) {
                height: 230px;
            }
        }
    }
    .blog-body {
        max-width: 825px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 60px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
        .blog-photo {
            margin-bottom: 50px;
            img {
                width: 100%;
                display: block;
                margin-bottom: 0;
            }
        }
        .blog-content {
            max-width: 687px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            h2 {
                @include heading-font;
                margin: 30px 0 20px;
            }
            h3 {
                @include subheading-font;
            }
            p, li {
                strong {
                    color:$black;
                }
                a {
                    color:$orange;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .blog-share {
            text-align: center;
            margin-top: 40px;
            ul {
                li {
                    display: inline-block;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-right: 1px solid #333;
                    line-height: 1.1;
                    &:last-of-type {
                        border-right-color: transparent;
                    }
                    a {
                        font-size: 18px;
                        color: #333;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
    .blog-navigation {
        border-top: 1px solid $brown;
        border-bottom: 1px solid $brown;
        padding: 20px 0;
        margin-top: 60px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .blog-nav-item {
            i {
                display: inline-block;
                width: 60px;
                vertical-align: middle;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                font-size: 26px;
                color: #333;
            }
            span {
                display: block;
                font-family: $open-reg;
                @include animate-fade;
                &.direction {
                    text-transform: uppercase;
                    color: inherit;
                    font-size: 0.625em;
                    line-height: 1.76;
                    letter-spacing: .075em;
                    color: $orange;
                }
                &.title {
                    max-width: 300px;
                    line-height: 1.2;
                    margin-top: 8px;
                    font-size: 1em;
                    letter-spacing: .015em;
                    color: #222;
                    @include media-breakpoint-only(md) {
                        max-width: 250px;
                    }
                    @include media-breakpoint-down(sm){
                        max-width: 100%;
                    }
                }
            }
            small {
                font-size: 15px;
                line-height: 1.2;
                a {
                    color:$black;
                }
            }
            &.previous {
                float: left;
                text-align: left;
                small {
                    -webkit-transform: translateX(-60px);
                    -moz-transform: translateX(-60px);
                    -ms-transform: translateX(-60px);
                    -o-transform: translateX(-60px);
                    transform: translateX(-60px);
                }
            }
            &.next {
                float: right;
                text-align: right;
                small {
                    -webkit-transform: translateX(60px);
                    -moz-transform: translateX(60px);
                    -ms-transform: translateX(60px);
                    -o-transform: translateX(60px);
                    transform: translateX(60px);
                }
                @include media-breakpoint-down(sm){
                    margin-top: 40px;
                    text-align: right;
                }
                @include media-breakpoint-up(sm) {
                    margin-left: auto;
                }
                .direction {
                    @include media-breakpoint-up(sm) {
                        text-align: right;
                    }
                }
                .title {
                    @include media-breakpoint-up(sm) {
                        margin-left: auto;
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                float: none!important;
            }
            small {
                @include animate-fade;
                @include media-breakpoint-up(sm) {
                    display: flex;
                    align-items: center;
                }
                @include media-breakpoint-down(sm) {
                    -webkit-transform: translateX(0)!important;
                    -moz-transform: translateX(0)!important;
                    -ms-transform: translateX(0!important);
                    -o-transform: translateX(0)!important;
                    transform: translateX(0)!important;
                }
                &:hover {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    color: $orange;
                    i {
                        opacity: 1;
                        visibility: visible;
                        color: $orange;
                    }
                }
                i {
                    @include media-breakpoint-down(sm) {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .related-posts {
        margin: 60px 0;
        @include media-breakpoint-down(sm) {
            margin: 30px 0;
        }

        span.related-posts-title {
            font-family: $crims-bold;
            display: block;
            margin-bottom: 30px;
            font-size: 0.813em;
            text-transform: uppercase;
            letter-spacing: .075em;
            color: #222;
        }
        .related-box {
            margin-bottom: 30px;
            h4 {
                font-family: $crims-bold;
                color: #222;
                font-size: 1em;
                line-height: 1.2;
                margin-bottom: 0px;
                @include animate-fade;
                a {
                    color: inherit;
                    display: block;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}

// CTA
.quote-cta--single {
    background:#5c4341;
    padding:35px;
    text-align: center;
    border-radius:12px;
    margin-bottom: 30px;
    span.title {
        display: block;
        font-size: 32px;
        line-height: 1.2;
        color:$white;
        margin-bottom: 15px;
        @include media-breakpoint-down(md) {
            font-size: 28px;
        }
    }
    a.btn-cta {
        @include submit-btn;
        @include media-breakpoint-down(md) {
            font-size: 16px;
        }
    }
}