#gallery {
    p {
        &:last-of-type {
            font-family: $open-bold;
            font-size: 16px;
        }
    }
    &-photos {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .row {
            padding-left: 8px;
            padding-right: 8px;
        }
        [class*="col-"] {
            padding-left: 7px;
            padding-right: 7px;
        }
        .gallery-box {
            position: relative;
            margin-bottom: 15px;
            a {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: block;
                &:after {
                    content: '';
                    display: block;
                    background-color: rgba($red, 0.8);
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    @include animate-fade;
                    z-index: 1;
                }
                &:hover {
                    span {
                        opacity: 1;
                        margin-top: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
                span {
                    width: 64px;
                    height: 64px;
                    background: #fff;
                    text-align: center;
                    line-height: 64px;
                    border-radius: 100%;
                    @include centre(both);
                    display: block;
                    color: #000;
                    font-size: 24px;
                    margin-top: 20px;
                    opacity: 0;
                    z-index: 2;
                    @include animate-fade;
                    i {

                    }
                }
            }
            img {
                width: 100%;
                object-fit: cover;
                height: 267px;
                margin-bottom: 0;
                @include breakpoint (desktop) {
                    height: 189px;
                }
                @include media-breakpoint-only(lg) {
                    height: 214px;
                }
                @include media-breakpoint-only(md) {
                    height: 235px;
                }
            }
        }
    } 
}