/*===============================
=           Footer            =
===============================*/

#page-footer {
    background-color: $brown;
	@include bp(lg) {
    }
    @include bp(md) {
    }
    @include bp(sm-down) {
    }
    .footer-content {
        padding-top: 10px;
        margin-top: -30px;
        padding-bottom: 10px;
        text-align: center;
        .footer-quote-btn {
            a {
                font-family: $crims-bold;
                display: inline-block;
                border-radius: 4px;
                background-color: $orange;
                color: white;
                border:0;
                @include animate-fade;
                text-align: center;
                padding: 15px 40px;
                font-size: 20px;
                letter-spacing: 0;
                &:hover {
                    background-color: $brown;
                }
            }
        }
        .footer-logo {
            margin-top: 30px;
        }
        .footer-nav {
            margin-top: 30px;
            ul {
                font-size: 0;
                li {
                    display: inline-block;
                    a {
                        font-family: $open-bold;
                        font-size: 14px;
                        color: #fff;
                        display: block;
                        padding: 4px 8px;
                        border-radius: 8px;
                        @include bp(sm-down) {
                        }
                        &:hover {
                            background-color: $orange;
                            color: $brown;
                        }
                    }
                }
            }
        }
        .footer-socials {
            margin-top: 30px;
            margin-bottom: 20px;
            ul {
                li {
                    display: inline-block;
                    margin-left: 0.8em;
                    margin-right: 0.8em;
                    a {
                        color: #fff;
                        font-size: 16px;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
    .copybar {
        padding-top: 22px;
        padding-bottom: 22px;
        text-align: center;
        border-top: 2px solid #7a6064;
        small {
            @include regular-text;
            color: $brown-light;
        }
    }
    
}
/*=======End of Footer ========*/


.footer-widgets {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #e8dfd5;
    text-align: center;
    .trustedpilot-widget {
        margin-bottom: 40px;
    }
}

// Fixed cta
#fixed-cta {
    position: fixed;
    bottom:15px;
    right:15px;
    z-index:9999;
    &:hover {
        span.label {
            opacity: 1;
            margin-bottom: 10px;
        }
    }
    span.label {
        display: block;
        text-align: center;
        font-size: 19px;
        font-family: $font-heading;
        color:$white;
        margin-bottom: 0px;
        @include animate-fade;
        opacity: 0;
        position: relative;
        @include bp(sm-down) {
            display: none;
        }
    }
    a {
        display: block;
        height: 62px;
        line-height: 62px;
        padding-left: 65px;
        padding-right: 30px;
        background:$red;
        color:$white;
        font-size: 18px;
        border-radius: 9999px;
        box-shadow: 0 3px 2px 2px rgba(0, 0, 0 , 0.31%);
        position: relative;
        animation: pulse 1.5s ease infinite;
        @include bp(sm-down) {
            padding-right: 0px;
            padding-left: 0px;
            padding:10px;
            height: auto;
        }
        span {
            @include bp(sm-down) {
                display: none;
            }            
        }
        strong {
            @include bp(sm-down) {
                display: none;
            }
        }
        &:hover {
            background:$brown;
            img {
                transform: rotate(-33deg);
            }
        }
        small {
            width: 36px;
            height: 36px;
            background:$white;
            border-radius: 100%;
            position: relative;
            display: block;
            @include centre(y);
            left:15px;
            text-align: center;
            line-height: 34px;
            @include bp(sm-down) {
                background:$brown;
                width: 50px;
                height: 50px;
                line-height: 47px;
                @include clear-pos;
            }
            img {
                width: 20px;
                @include animate-fade;
                @include bp(sm-down) {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity:1 ;
    }
  }