.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 992px) {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border:0;
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background-color: $brown;
        white-space: normal!important;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        @include bp(lg-down) {
            display: none!important;
        }
        >li {
            height: 100%;
            display: inline-block;
            position: relative;
            ul {
                width: 720px!important;
                &:before,
                &:after {
                    content: " ";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                li {
                    margin: 7px 10px;
                    float: left;
                    width: 20%;
                }
            }
            a {
                font-family: $open-bold;
                font-size: 14px;
                color: #fff!important;
                display: block;
                padding: 10px 15px!important;
                border-radius: 8px;
                white-space: normal;
                @include bp(lg) {
                }
                &:hover {
                    color: #fff;
                    background: $orange;

                }
                &.active {
                    color: $orange;
                }
            }
            .dropdown-toggle:after {
                display: none;
            }
            .dropdown-menu {
                li {
                    a {
                        color: #fff;
                        font-size: 12px;
                        padding: 5px;
                        border-radius: 8px;
                    }
                }
            }
        }
        >.show>a {
            color: #fff;
            background: $orange;
            outline: 0;
            text-decoration: none !important;
            &:focus,
            &:hover {
                color: #fff;
                background: $orange;
                outline: 0;
                text-decoration: none !important;
            }
            &.dropdown-toggle {
                &:after {
                    color: $orange;
                }
            }
        }
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        @include bp(lg-down) {
            display: none!important;
        }
        @media (min-width: 992px) {
            display: flex!important;
            flex-basis: auto;
        }
    }
}


/*==========Sub Menu=v==========*/

.mainmenu {
    .collapse ul {
        >li:hover>a,
        ul>li:hover>a {
            background: $orange;
        }
    }
    .collapse ul ul {
        background: $brown;
        border: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        ul>li:hover>a,
        &.dropdown-menu {
            background: $brown;
        }
        ul {
            background: $brown;
            &.dropdown-menu {
                background: $brown;
            }
            ul {
                background: $brown;
                &.dropdown-menu {
                    background: $brown;
                }
            }
        }
        /*li {
            padding: 0 15px;
        }
        a {
            padding: 10px 5px;
        }*/
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e90a";
            font-family: "icomoon";
            font-weight: 900;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 1400px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 150px;
            width: auto;
            white-space: nowrap;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 150px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 150px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu {
        >li>a {
            padding: 16px 15px 16px 35px;
        }
        .dropdown-menu>li>a {
            padding: 16px 15px 16px 45px;
        }
    }
}

.sliding-menu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


/******************************Mobile Menu**********************************/

.sliding-menu {
    position: relative;
    overflow: hidden;
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        a {
            display: block;
            text-transform: uppercase;
            line-height: 1.4em;
            font-size: 0.875em;
            text-decoration: none;
            border: none;
            outline: none;
            color: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            &:hover {
                color: #fff;
                background: $orange;
                /*border: none;*/
            }
        }
        >a {
            font-family: $open-bold;
        }
    }
    .active a {
        color: #fff;
        background: $orange;
        border: none;
    }
    .sliding-menu-nav:before {
        float: right;
        margin-left: 1em;
        margin-right: 15px;
        font-family: 'icomoon';
        content: "\e90c";
        color: #fff;
        font-weight: 300;
        font-size: 22px;
    }
    .sliding-menu-back {
        color: #fff;
        background: $orange;
        font-size: 1em;
        &:before {
            float: left;
            margin-right: 1em;
            font-family: 'icomoon';
            content: "\e90b";
            color: #fff;
            font-weight: 300;
            font-size: 22px;;
            margin-left: 0px;
        }
    }
}

#menu ul li ul li a {
    font-size: 1px !important;
    color: #000 !important;
}

#mobile__brand {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    img {
        width: 100px;
    }
}

.third-level {
    background: #fff !important;
}

@media only screen and (min-width: 1400px) {
    #mobile-menu--btn, #mobile-phone {
        display: none;
    }
}

.menu-btn {
    a {
        display: block;
        width: 100%;
        height: 30px;
        &:hover {
            span {
                background-color: $orange;
            }
        }
    }
    span {
        height: 4px;
        border-radius: 6px;
        background-color: #fff;
        width: 35px;
        display: block;
        float: right;
        margin-top: 3px;
        margin-bottom: 3px;
        transition: .25s ease-in-out;
    }
    .open span {
        color: $orange;
    }
}

/*====================================
=            Menu Ovelray            =
====================================*/

.menu-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active-overlay {
    opacity: 1;
    visibility: visible;
}

.main-menu-sidebar {
    width: 400px;
    position: fixed;
    height: 100%;
    top: 0px;
    right: -400px;
    z-index: 99999;
    transition: .45s ease-in-out;
    background: $brown;
    overflow-y: scroll;
    /* close menu */
    /* main menu */
    .close-menu-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #e2e2e2;
        text-indent: -9999px;
        background: url(../img/ico/close-btn.png) no-repeat center center;
        width: 20px;
        height: 20px;
    }
    #sidebar-menu-wrapper #menu .nav-links>li>a:hover {
        color: #fff;
    }
}

@media only screen and (max-width: 750px) {
    .main-menu-sidebar {
        width: 300px;
    }
}

.body-scroll {
    overflow-y: hidden !important;
}

.menu-active {
    right: 0;
}


/*=====  End of Mobile Navbar  ======*/