// Custom Mixins
// fade animation
@mixin animate-fade {
    transition: .25s ease-in-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@-webkit-keyframes zoomBg {
    0% {
        transform:scale(1.4);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes zoomBg {
    0% {
        transform:scale(1.4);
    }
    100%{
        transform:scale(1);
    }
}


@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin font-ico {
    display: inline-block;
    font: normal normal normal 14px/1 'Font Awesome 5 Pro';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
}

@mixin sharp-image {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

@mixin clear-pos {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
}

// center vert horizontal
@mixin centre($axis: "both") {
    position: absolute;
    @if $axis=="y" {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis=="x" {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis=="both" {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

// plceholder
@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

// clearfix
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin breakpoint($value) {
    @if $value=='desktop' {
        @media only screen and (min-width: 1100px) and (max-width:1459px) {
            @content;
        }
    }
    @else if $value=='desktop-lg' {
        @media only screen and (min-width: 1660px) {
            @content;
        }
    }
    @else {
        @media only screen and (min-width: 240px) and (max-width: $value) {
            @content;
        }
    }
}

@mixin small-lap {
    @media screen and (min-width: 1025px) and (max-height: 767px) {
        @content;
    }
}

@mixin font-ico {
    display: inline-block;
    font: normal normal normal 14px/1 'Font Awesome 5 Pro';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
}

// overlay
@mixin overlay($bg:transparent) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: $bg;
}


@mixin page-title {
    font-size: 3.875em;
    line-height: 1.2;
    font-family: $crims-bold;
    color: #fff;
    @include breakpoint (desktop) {
        font-size: 3.5em;
    }
    @include media-breakpoint-only(lg) {
        font-size: 3.2em;
    }
    @include media-breakpoint-only(md) {
        font-size: 2.8em;
    }
    @include media-breakpoint-down(sm) {
        font-size: 2.2em;
    }
}

@mixin heading-font {
    font-size: 2.250em;
    line-height: 1.2;
    font-family: $crims-bold;
    color: $brown;
    @include breakpoint (desktop) {
        font-size: 2.1em;
    }
    @include media-breakpoint-only(lg) {
        font-size: 1.9em;
    }
    @include media-breakpoint-only(md) {
        font-size: 1.8em;
    }
    @include media-breakpoint-down(sm) {
        font-size: 1.7em;
    }
}

@mixin subheading-font {
    font-size: 1.250em;
    line-height: 1.2;
    font-family: $crims-bold;
    color: $brown;
    @include breakpoint (desktop) {
        font-size: 1.2em;
    }
    @include media-breakpoint-only(lg) {
        font-size: 1.2em;
    }
    @include media-breakpoint-only(md) {
        font-size: 1.2em;
    }
    @include media-breakpoint-down(sm) {
        font-size: 1.1em;
    }
}

@mixin subheading-font2 {
    font-size: 1.125em;
    line-height: 1.2;
    font-family: $crims-bold;
    color: $brown;
}

@mixin input-style {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    font-size: 0.875em;
    line-height: 1;
    border-radius: 4px;
    display: block;
    background: white;
    border: 0px;
    color: $brown;
    transition: 0.5s ease;
    &:focus {
        outline: none!important;
        background-color: #e8dfd5;
    }
    @include media-breakpoint-down(sm) {
    }
}

@mixin regular-text {
    font-size: 14px;
    line-height: 1.78571;
    font-family: $open-reg;
    color: #222;
}

@mixin list-style {
    list-style-type: disc;
    padding-left: 1.2em;
    margin-bottom: 20px;
    li {
        @include regular-text;
        margin-bottom: 5px;
        strong {
            font-family: $open-bold;
        }
    }
}

@mixin learn-btn {
    display: inline-block;
    color: $brown;
    font-size: 1.188em;
    font-family: $crims-boldi;
    &:hover {
        color: $orange;
    }
}

@mixin submit-btn {
    font-family: $crims-bold;
    display: inline-block;
    border-radius: 4px;
    background-color: $orange;
    color: white;
    text-transform: capitalize;
    font-size: 1.500em;
    padding: 14px 55px;
    padding-bottom: 12px;
    border:0;
    letter-spacing: .075em;
    text-align: center;
    @include animate-fade;
    margin-top: 20px;
    &:hover {
        background-color: $brown;
    }
    @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
    }
}