#contact-page {
    .contact-content {
        text-align: center;
        padding-top: 50px;
        @include bp(desktop) {
            padding-top: 40px;
        }
        @include bp(lg) {
            padding-top: 30px;
        }
        @include bp(md) {
            padding-top: 20px;
        }
        @include bp(sm-down) {
            padding-top: 0;
        }
        p {
            margin-bottom: 0;
        }
        .intro {
            p {
                font-family: $open-bold;
                font-size: 1em;
            }
        }
        .call-us {
            margin-top: 30px;
            margin-bottom: 30px;
            p {
                font-size: 2.000em;
                line-height: 1.2;
                font-family: $open-bold;
                color: $brown;
                @include bp(desktop) {
                    font-size: 1.8em;
                }
                @include bp(lg) {
                    font-size: 1.6em;
                }
                @include bp(md) {
                    font-size: 1.4em;
                }
                @include bp(sm-down) {
                    font-size: 1.2em;
                }
                a {
                    color: $orange;
                    text-decoration: none;
                    &:hover {
                        color: $brown;
                    }
                }
            }
        }
        .contact-more {
            p {
                &:first-of-type {
                    font-family: $open-bold;
                }
            }
        }
    }
    
    .contact-form {
        @include bp(sm-down) {
            margin-top: 30px;
        }
        &-content {
            background: url(../img/bg/bgnd-form.jpg);
            box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.31);
            padding: 20px 20px;
            border-radius: 4px;
        }
        form {
            .row {
                padding-left: 7px;
                padding-right: 7px;
            }
            [class*="col-"] {
                padding-left: 8px;
                padding-right: 8px;
            }
            .form-group {
                margin-bottom: 15px;
            }
            input[type="text"], input[type="number"], input[type="email"], input[type="tel"], textarea, .bootstrap-select .btn {
                @include input-style;
            }
            textarea {
                height: 85px;
                padding-top: 10px;
                padding-bottom: 20px;
            }
            .control--checkbox {
                font-size: 14px;
                padding-left: 20px;
                color: $brown;
                font-family: $open-reg;
                display: block;
                margin-top: 10px;
            }
            .zebra_tooltips_below {
                color: #dd3333;
                text-decoration: underline;
                font-family: $open-reg;
                font-size: 16px;
            }
            .control__indicator {
                height: 16px;
                width: 16px;
                top: 2px!important;
                &:after {
                    left: 5px;
                    top: 1px;
                }
            }
            input[type=submit] {
                @include submit-btn;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}