#review-form {
    .row {
       align-items: flex-end;
    }
    input[type=submit] {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    span.label {
        padding-left: 0!important;
    }
    form {
        padding-bottom: 0!important;
    }
    .wpcf7 form .wpcf7-response-output {
        padding:0px;
        margin:0px;
        font-size: 14px;
        background:$red;
        border:none;
        color:$white;
        padding:5px;
        padding-left: 10px;
    }
    .wpcf7-not-valid-tip {
        font-size: 14px;
        margin-top: 4px;
    }
    .wpcf7-not-valid {
        background: #f9dddd!important;
    }
}
#reviews {
    .review-video {
        margin-bottom: 125px;
        text-align: center;
        max-width: 560px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include bp(desktop) {
            margin-bottom: 80px;
        }
        @include bp(lg) {
            margin-bottom: 60px;
        }
        @include bp(md) {
            margin-bottom: 40px;
        }
        @include bp(sm-down) {
            margin-bottom: 30px;
        }
    }
}

.reviews-list {
    .review-item {
        border-bottom: 3px double #c5c0bc;
        border-top-width: 3px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        .star-area {
            color: #FF8A00;
            font-size: 16px;
            margin-right: 5px;
            margin-bottom: 30px;
        }
        .review-author {
            @include subheading-font;
            display: block;
            color: #222;
            font-family: $crims-bold;
            font-style: italic;
        }
        .review-text {
            margin-bottom: 20px;
            p {
                color: #222;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}